XSD/TipiDatiVisualizzaErogato.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.regione.toscana.it.org/sisrt/generic"
	    xmlns="http://www.w3.org/2001/XMLSchema" 
	    xmlns:sisrt="http://www.regione.toscana.it.org/sisrt/generic"
	    elementFormDefault="qualified" 
	    attributeFormDefault="unqualified">
	    
	<annotation>
		<documentation>Versione 1.2</documentation>
	</annotation>
	<simpleType name="nreType">
		<restriction base="string">
			<minLength value="15" />
			<maxLength value="15" />
		</restriction>
	</simpleType>
	<simpleType name="pwdType">
		<restriction base="string">
			<minLength value="0" />
			<maxLength value="16" />
		</restriction>
	</simpleType>
	<simpleType name="tipoOperazioneType">
		<restriction base="string">
			<length value="2"></length>
		</restriction>
	</simpleType>
	<simpleType name="euroValutaType">
		<restriction base="decimal">
		</restriction>
	</simpleType>
	<simpleType name="codRegioneType">
		<restriction base="string">
			<minLength value="3" />
			<maxLength value="3" />
		</restriction>
	</simpleType>
	<simpleType name="codSpecializzazioneType">
		<restriction base="string">
			<minLength value="1" />
			<maxLength value="1" />
		</restriction>
	</simpleType>
	<simpleType name="codPagIrisType">
		<restriction base="string">
			<maxLength value="20"></maxLength>
		</restriction>
	</simpleType>
	<simpleType name="codRefertoType">
		<restriction base="string">
			<maxLength value="20"></maxLength>
		</restriction>
	</simpleType>
	
	
	
	<simpleType name="cfMedicoType">
		<restriction base="sisrt:cfType">

			<pattern
				value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]">
			</pattern>
		</restriction>
	</simpleType>
	<simpleType name="tipoInvioType">
		<restriction base="string">
			<minLength value="3" />
			<maxLength value="3" />
		</restriction>
	</simpleType>
	<simpleType name="tipoRicettaType">
		<restriction base="string">
			<minLength value="2" />
			<maxLength value="2" />
		</restriction>
	</simpleType>
	<simpleType name="tipoPrescType">
		<restriction base="string">
			<minLength value="1" />
			<maxLength value="1" />
		</restriction>
	</simpleType>
	<simpleType name="tipoVisitaType">
		<restriction base="string">
			<minLength value="1" />
			<maxLength value="1" />
		</restriction>
	</simpleType>
	<simpleType name="indicPrescType">
		<restriction base="string">
			<minLength value="1" />
			<maxLength value="1" />
		</restriction>
	</simpleType>
	<simpleType name="prioritaType">
		<restriction base="string">
			<minLength value="1" />
			<maxLength value="1" />
		</restriction>
	</simpleType>
	<simpleType name="dataOraType">
		<restriction base="string">

			<minLength value="19" />
			<maxLength value="19" />
		</restriction>
	</simpleType>
	<simpleType name="codEsitoType">
		<restriction base="string">
			<pattern value="[0-9]{4}" />
		</restriction>
	</simpleType>
	<simpleType name="stringType">
		<restriction base="string" />
	</simpleType>
	<simpleType name="string256Type">
		<restriction base="string">
			<maxLength value="256" />
		</restriction>
	</simpleType>
	<simpleType name="integerType">
		<restriction base="string">
			<pattern value="[0-9]" />
		</restriction>
	</simpleType>
	<complexType name="dettaglioPrescrizioneVisualErogatoType">
		<sequence>
			<element name="statoPresc">
				<annotation>
					<documentation>
						Stato della prestazione
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="1"></maxLength>
					</restriction>
				</simpleType>
			</element>

			<element name="codProdPrest">
				<simpleType>
					<restriction base="string">
						<maxLength value="12"></maxLength>
					</restriction>
				</simpleType>
			</element>
			<element name="descrProdPrest" type="string"
				minOccurs="0">
				<annotation>
					<documentation>
						Descrizione testuale del prodotto farmaceutico o
						della prestazione specialistica
					</documentation>
				</annotation>
			</element>
			<element name="codGruppoEquival" type="string"
				minOccurs="0">
				<annotation>
					<documentation>
						Codice del gruppo equivalente
					</documentation>
				</annotation>
			</element>
			<element name="descrGruppoEquival" type="string"
				minOccurs="0">
				<annotation>
					<documentation>
						Descrizione testuale del gruppo equivalente
					</documentation>
				</annotation>
			</element>
			<element name="testoLibero" type="string" minOccurs="0">
				<annotation>
					<documentation>
						Campo che indica di tenere conto solamente della
						descrizione inserita in descrTestoLiberoNote
					</documentation>
				</annotation>
			</element>
			<element name="descrTestoLiberoNote" type="string"
				minOccurs="0">
				<annotation>
					<documentation>
						Descrizione testuale della prestazione
						specialistica
					</documentation>
				</annotation>
			</element>
			<element name="nonSost" type="string" minOccurs="0">
				<annotation>
					<documentation>
						Non sostituibilita' del farmaco
					</documentation>
				</annotation>
			</element>
			<element name="motivazNote" type="string" minOccurs="0">
				<annotation>
					<documentation>
						Motivazione della non sostituibilita'
					</documentation>
				</annotation>
			</element>
			<element name="codMotivazione" type="string"
				minOccurs="0">
				<annotation>
					<documentation>
						Codici di motivazione di non sostituibilita' di
						un farmaco
					</documentation>
				</annotation>
			</element>
			<element name="notaProd" type="string" minOccurs="0">
				<annotation>
					<documentation>Nota AIFA</documentation>

				</annotation>
			</element>
			<element name="quantita" type="string">
				<annotation>
					<documentation>
						Quantita' di confezioni o di prestazioni
						specialistiche prescritte
					</documentation>
				</annotation>
			</element>
			<element name="prescrizione1" type="string" minOccurs="0">
				<annotation>
					<documentation>
						Campo destinato a informazioni aggiuntive
					</documentation>
				</annotation>
			</element>
			<element name="prescrizione2" type="string" minOccurs="0">
				<annotation>
					<documentation>
						Campo destinato a informazioni aggiuntive
					</documentation>
				</annotation>
			</element>
			<element name="codProdPrestErog" minOccurs="0">
				<annotation>
					<documentation>
						Codice AIC del farmaco o codice della
						prestazione effettivamente erogata
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="12"></maxLength>
					</restriction>
				</simpleType>
			</element>
			<element name="descrProdPrestErog"
				type="sisrt:string256Type" minOccurs="0">
				<annotation>
					<documentation>
						Descrizione del farmaco o della prestazione
						effettivamente erogata
					</documentation>
				</annotation>
			</element>
			<element name="flagErog" minOccurs="0">
				<annotation>
					<documentation>
						Riferito a cio' che e' stato inserito nel campo
						codProdPrestErog: A - codice AIC aggiornato, S -
						sostituzione AIC, V - variazione codice
						prestazione
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="1"></maxLength>
					</restriction>
				</simpleType>
			</element>
			<element name="motivazSostProd" minOccurs="0">
				<annotation>

					<documentation>
						Motivazione in caso di valore “S” in flagErog: 1
						- etico con generico, 2 - generico con generico,
						3 - generico irreperibile
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="1"></maxLength>
					</restriction>
				</simpleType>
			</element>
			<element name="targa" type="string" minOccurs="0">
				<annotation>
					<documentation>
						Numero identificativo univoco della singola
						confezione
					</documentation>
				</annotation>
			</element>

			<element name="dichTargaDoppia"
				type="sisrt:dichTargaDoppiaType">
			</element>
			<element name="codBranca" type="string" minOccurs="0">
				<annotation>
					<documentation>
						Codice della branca specialistica della
						prestazione
					</documentation>
				</annotation>
			</element>
			<element name="tipoErogazioneFarm" minOccurs="0">
				<annotation>
					<documentation>
						Tipologia di erogazione dei farmaci. Valori
						ammessi: C - distribuzione per conto, D -
						distribuzione diretta, A - assist integrativa
						domiciliare, I - assist integrativa
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="1"></maxLength>
					</restriction>
				</simpleType>
			</element>
			<element name="prezzo" type="sisrt:euroValutaType"
				minOccurs="0">
				<annotation>
					<documentation>
						Prezzo al pubblico del prodotto farmaceutico o
						Tariffa della prestazione specialistica
					</documentation>
				</annotation>
			</element>
			<element name="ticketConfezione" type="sisrt:euroValutaType"
				minOccurs="0">
				<annotation>
					<documentation>
						Ticket della confezione farmaceutica
					</documentation>
				</annotation>
			</element>
			<element name="diffGenerico" type="sisrt:euroValutaType"
				minOccurs="0">

				<annotation>
					<documentation>
						Differenza con generico della confezione
						farmaceutica
					</documentation>
				</annotation>
			</element>
			<element name="quantitaErogata" type="int" minOccurs="0">
				<annotation>
					<documentation>
						Quantita' effettivamente erogata
					</documentation>
				</annotation>
			</element>
			<element name="dataIniErog" type="date" minOccurs="0">
				<annotation>
					<documentation>
						Data di inizio erogazione
					</documentation>
				</annotation>
			</element>
			<element name="dataFineErog" type="date" minOccurs="0">
				<annotation>
					<documentation>
						Data di fine erogazione
					</documentation>
				</annotation>
			</element>
			<element name="prezzoRimborso" type="sisrt:euroValutaType"
				minOccurs="0">
				<annotation>
					<documentation>
						Prezzo di rimborso al laboratorio
					</documentation>
				</annotation>
			</element>
			<element name="onereProd" type="sisrt:euroValutaType"
				minOccurs="0">
				<annotation>
					<documentation>
						Onere di distribuzione del prodotto farmaceutico
						erogato in DPC
					</documentation>
				</annotation>
			</element>
			<element name="scontoSSN" type="string" minOccurs="0">
				<annotation>
					<documentation>
						Sconto riconosciuto al SSN
					</documentation>
				</annotation>
			</element>
			<element name="extraScontoIndustria" type="string"
				minOccurs="0">

				<annotation>
					<documentation>
						Sconto obbligatorio dello 0,6% sul prezzo al
						pubblico lordo con IVA a carico dell'industria
						produttrice, per i medicinali erogati in regime
						SSN
					</documentation>
				</annotation>
			</element>
			<element name="extraScontoPayback" type="string"
				minOccurs="0">
				<annotation>
					<documentation>
						Sconto che il SSN nel procedere alla
						corresponsione di quanto dovuto alle farmacie
						trattiene per un importo corrispondente allo
						0,6% del prezzo al pubblico comprensivo dell'IVA
					</documentation>
				</annotation>
			</element>
			<element name="extraScontoDL31052010" type="string"
				minOccurs="0">
				<annotation>
					<documentation>
						Sconto introdotto nel DL 31.05.2010
					</documentation>
				</annotation>
			</element>
			<element name="codPresidio" type="string" minOccurs="0">
				<annotation>
					<documentation>
						Codice del presidio di erogazione della
						prestazione
					</documentation>
				</annotation>
			</element>
			<element name="codReparto" type="string" minOccurs="0">
				<annotation>
					<documentation>
						Codice del reparto di erogazione della
						prestazione
					</documentation>
				</annotation>
			</element>
			<element name="spa2Eroga" type="sisrt:spa2ErogaType" maxOccurs="1" minOccurs="0"></element>
			<element name="dispFust1" type="string" minOccurs="0">
				<annotation>
					<documentation>
						Campo per futuro utilizzo
					</documentation>
				</annotation>
			</element>
			<element name="dispFust2" type="string" minOccurs="0">
				<annotation>
					<documentation>
						Campo per futuro utilizzo
					</documentation>
				</annotation>

			</element>
			<element name="dispFust3" type="string" minOccurs="0">
				<annotation>
					<documentation>
						Campo per futuro utilizzo
					</documentation>
				</annotation>
			</element>

		</sequence>
	</complexType>
	<complexType name="elencoDettagliPrescrVisualErogatoType">
		<sequence>
			<element name="DettaglioPrescrizioneVisualErogato" type="sisrt:dettaglioPrescrizioneVisualErogatoType"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>
	<complexType name="erroreRicettaType">
		<sequence>

			<element name="codEsito" type="sisrt:codEsitoType"></element>
			<element name="esito" type="string" minOccurs="0" />
			<element name="progPresc" type="string" minOccurs="0" />
			<element name="tipoErrore" type="string" minOccurs="0" />
		</sequence>
	</complexType>
	<complexType name="elencoErroriRicetteType">
		<sequence>
			<element name="ErroreRicetta" type="sisrt:erroreRicettaType"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>
	<complexType name="comunicazioneType">
		<sequence>
			<element name="codice" type="string">
				<annotation>
					<documentation>Codice della comunicazione di servizio
					</documentation>
				</annotation>
			</element>
			<element name="messaggio" type="string">
				<annotation>
					<documentation>Messaggio di servizio
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="elencoComunicazioniType">

		<sequence>
			<element name="Comunicazione" type="sisrt:comunicazioneType"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>


	<simpleType name="dichTargaDoppiaType">
		<restriction base="string"></restriction>
	</simpleType>

	<simpleType name="cfType">
		<restriction base="string">
			<pattern
				value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]">
			</pattern>
		</restriction>
	</simpleType>


	<simpleType name="string2Type">
		<restriction base="string">
			<maxLength value="2"></maxLength>
		</restriction>
	</simpleType>


    <complexType name="prenotazioneType">
		<sequence>
			<element name="codAslPrenotazione">
				<annotation>
					<documentation>
						Codice Asl presso cui è prenotata la
						prescrizione
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="16"></maxLength>
					</restriction>
				</simpleType>
			</element>

			<element name="dataOra" type="string">
				<annotation>
					<documentation>
						Data e ora cui è stata prenotata l'erogazione
						della prescrizione
					</documentation>
				</annotation>
			</element>
			<element name="note" type="string" maxOccurs="1" minOccurs="0"></element>
            <element name="spa1Prenota" type="sisrt:spa1PrenotaType"></element>
            <element name="spa2Prenota" type="sisrt:spa2PrenotaType" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
    </complexType>

<simpleType name="strutturaDiPresaInCaricoType">
		<restriction base="string">
			<maxLength value="20"></maxLength>
		</restriction>
	</simpleType>

    <simpleType name="flagEsclusivita">
    	<restriction base="string"></restriction>
    </simpleType>

    <simpleType name="esclusivitaType">
    	<restriction base="string">
    		<length value="1"></length>
    	</restriction>
    </simpleType>
<complexType name="spa2ErogaType">
		<sequence>
			<element name="speciali" minOccurs="0">
                <annotation>
                	<documentation>Specialità di erogazione</documentation></annotation>
                <simpleType>
					<restriction base="string">
						<maxLength value="3"></maxLength>
					</restriction>
				</simpleType>
			</element>

			<element name="disciplina" minOccurs="0">
                <annotation>
                	<documentation>Codice della disciplina che qualifica la prestazione ambulatoriale</documentation></annotation>
                <simpleType>
					<restriction base="string">
						<maxLength value="2"></maxLength>
					</restriction>
				</simpleType>
			</element>
			<element name="tipopr" minOccurs="0">
                <annotation>
                	<documentation>Tipologia della prestazione erogata/prodotto somministrato</documentation></annotation>
                <simpleType>
					<restriction base="string">
						<maxLength value="1"></maxLength>
					</restriction>
				</simpleType>
			</element>
			<element name="numacc" minOccurs="0">
                <annotation>
                	<documentation>Numero degli accessi alla
Prestazione/
somministrazione prodotto</documentation></annotation>
                <simpleType>
					<restriction base="string">
						<maxLength value="3"></maxLength>
					</restriction>
				</simpleType>
			</element>
			<element name="convenzione" minOccurs="0">
                <annotation>
                	<documentation>Prestazione soggetta a convenzione</documentation></annotation>
                <simpleType>
					<restriction base="string">
						<maxLength value="1"></maxLength>
					</restriction>
				</simpleType>
			</element>
			<element name="compensa" minOccurs="0">
                <annotation>
                	<documentation>Posizione della prestazione rispetto alla compensazione</documentation></annotation>
                <simpleType>
					<restriction base="string">
						<maxLength value="1"></maxLength>
					</restriction>
				</simpleType>
			</element>
			<element name="tipoerog" minOccurs="0">
                <annotation>
                	<documentation>Tipologia del medico erogatore della prestazione in regime libero professionale</documentation></annotation>
                <simpleType>
					<restriction base="string">
						<maxLength value="1"></maxLength>
					</restriction>
				</simpleType>
			</element>

			<element name="mra_erog" minOccurs="0">
                <annotation>
                	<documentation>MRA_ struttura erogatrice</documentation></annotation>
                <simpleType>
					<restriction base="string">
						<maxLength value="15"></maxLength>
					</restriction>
				</simpleType>
			</element>
				</sequence>
	</complexType>
    <complexType name="spa2PrenotaType">
		<sequence>
            <element name="codPrest" minOccurs="0">
            	<simpleType>
            		<restriction base="string">
            			<maxLength value="12"></maxLength>
            		</restriction>
            	</simpleType>
            </element>
            <element name="contatto" minOccurs="0">
				<annotation>
					<documentation>
						Data di primo contatto per la richiesta della
						prestazione
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="8"></maxLength>
					</restriction>
				</simpleType>
			</element>
			<element name="scelute" minOccurs="0">
				<annotation>
					<documentation>
						Scelta dell’utente rispetto alla prenotazione
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="1"></maxLength>
					</restriction>
				</simpleType>
			</element>
			<element name="dataprenotabile" minOccurs="0">
				<annotation>
					<documentation>
						Data prenotabile o di prima disponibilità
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="8"></maxLength>
					</restriction>
				</simpleType>
			</element>
		</sequence>
    </complexType>
<complexType name="spa1PrenotaType">
		<sequence>			<element name="tipocontatto" minOccurs="0">
				<annotation>
					<documentation>
						Tipologia del contatto. Per le prestazioni
						ambulatoriali specificate nella DGR 493/2011 e
						successive modifiche ed integrazioni deve essere
						indicato se si tratta di un primo contatto o di
						un contatto successivo. Se il campo codpres SPA2
						contiene uno dei codici presenti nella tabella
						NAL prestazioni PNGLA i valori ammessi sono 1 =
						primo contatto 2 = contatto successivi al primo.
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">

						<length value="1"></length>
					</restriction>
				</simpleType>
			</element>

		</sequence>
	</complexType>
<complexType name="spa1ErogaType">
		<sequence>
			<element name="regresu" minOccurs="0">
				<annotation>
					<documentation>Regione di residenza dell'utente</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">

						<length value="3"></length>
					</restriction>
				</simpleType>
			</element>
			<element name="proresu" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Provincia di residenza dell'utente.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">

						<length value="3"></length>
					</restriction>
				</simpleType>
			</element>
			<element name="comresu" minOccurs="0">
				<annotation>
					<documentation>
						Comune di residenza dell'utente
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">

						<length value="3"></length>
					</restriction>
				</simpleType>
			</element>			<element name="c_digit" minOccurs="0">
				<annotation>
					<documentation>
						Contributo alla digitalizzazione dovuto
						dall’utente
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="8"></maxLength>
					</restriction>
				</simpleType>
			</element>
			<element name="dservice" minOccurs="0">
				<annotation>
					<documentation>
						L'informazione riportata ha lo scopo, oltre che
						di individuare le prestazioni di day service, di
						ricostruire insieme all'identificativo
						dell'utente e alla data di prestazione tutte le
						ricette e quindi le prestazioni afferenti ad un
						medesimo episodio di day service. 0 = no day
						service 1 = 1° ricetta del percorso day service
						2 = ricette intermedie del percorso day service
						3 = ultima ricetta del percorso di day service 4
						= unica ricetta per prestazione iniziale e
						finale di day service Il codice 4 è da
						utilizzare solo nel caso in cui il percorso di
						day service sia contenuto in un'unica ricetta.
						Il codice 2 identifica tutte le ricette
						intermedie del percorso che, a parità di
						didentificativo dell'utente e sulla base della
						data di erogazione, vengono attribuite ad un
						unico percorso di day service assieme alla
						specifica 1° ricetta e ultima ricetta
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">

						<length value="1"></length>
					</restriction>
				</simpleType>
			</element>
			<element name="pacc" minOccurs="0">
				<annotation>
					<documentation>
						Percorsi ambulatoriali complessi e coordinati.
						In questo campo viene indicato il PACC attivato.
						I valori ammessi sono riportati nella tabella
						PACC messa a disposizione sui NAL.
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">

						<maxLength value="3"></maxLength>
					</restriction>
				</simpleType>
			</element>			<element name="tipologia_erog" minOccurs="0">
				<annotation>
					<documentation>
						tipologiaerogatore 1 = pubblico 2 = privato
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="1"></maxLength>
					</restriction>
				</simpleType>
			</element>			<element name="finalita" minOccurs="0">
				<annotation>
					<documentation>
						Finalità della prestazione. 10 = prestazioni di
						screening oncologico 20 = prestazioni per
						donazione 40 = prestazioni di procreazione
						medicalmente assistita 50 = prestazioni
						afferenti al percorso CORD 00 = altro
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<length value="2"></length>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>

    <simpleType name="tipoGestioneType">
    	<restriction base="string">
    		<enumeration value="DM2011"></enumeration>
    		<enumeration value="DPCM2008"></enumeration>
    	</restriction>
    </simpleType>
</schema>